<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="niuwajun.mapper.LoveUserMapper">
    <select id="getLoveUser" resultType="niuwajun.domain.lovee0575.LoveUser">
        SELECT * FROM love_user WHERE id = #{id}
    </select>
    
    <insert id="saveLoveUser" parameterType="niuwajun.domain.lovee0575.LoveUser">
        insert into love_user
        (
        	number,
        	sex,
			age,
			marriage,
			nation,
			height,
			weight,
			zodiac,
			constellation,
			education,
			salary,
			other
        )
        values(
	        #{number},
	        #{sex},
	        #{age},
	        #{marriage},
	        #{nation},
	        #{height},
	        #{weight},
	        #{zodiac},
	        #{constellation},
	        #{education},
	        #{salary},
	        #{other}
        )
    </insert>
    
    
    <insert id="saveAppDate" parameterType="niuwajun.spider.app_qianfan.AppDate">
        insert into app_date
        (
        	appName,
        	appId,
			dateValue,
			activeNums,
			rank
        )
        values(
	        #{appName},
	        #{appId},
	        #{dateValue},
	        #{activeNums},
	        #{rank}
        )
    </insert>
</mapper>
